<!DOCTYPE html>

<!DOCTYPE html>

{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1>About</h1>
    <strong>{{ boldmessage }}</strong><br>
    <img src="{% static 'images/rango.jpg' %}" alt="A teapot on the dry salt bed"/>
{% endblock %}

<!--
<html>
    <head>
        <title>About</title>
    </head>

    <body>
        <h1>About</h1>
        <p>Cool stuff</p>
        <strong>{{ boldmessage }}</strong>
        <img src="{% static 'images/rango.jpg' %}" alt="A teapot on the dry salt bed"/>
        <a href="/rango/">Home</a>
    </body>
</html>
-->